Xft.antialias:                 true
Xft.hinting:                   true
Xft.hintstyle:                 hintfull
Xft.rgba:                      rgb
*.color0:#1c091c
*.color1:#ff4545
*.color2:#B4B264
*.color3:#FF9566 
*.color4:#22607d 
*.color5:#ff2e5b
*.color6:#4fff8c
*.color7:#F7E086

*.color8:#2e1121
*.color9:#ff4545 
*.color10:#B4B264 
*.color11:#FF9566 
*.color12:#5ed1ee 
*.color13:#ff2e5b 
*.color14:#4fff8c 
*.color15:#ffeebe 
*.foreground: #ffeebe
*.cursorColor: #F7E086
URxvt.background: #190819
URxvt.scrollBar: false

rofi.color-window: argb:e8190819, #190819, #1d1f21
rofi.color-normal: argb:00d1ff21, #ffeebe, argb:00404552, argb:702e1121, #ffeebe
rofi.width:150
rofi.lines: 2
rofi.columns: 1
rofi.font: Roboto 24
rofi.padding: 300
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.fullscreen:true
