* {
	border:none;
	min-height: 10px;
	font-family: "undefined";
	font-size: 11px;
}

window#waybar {
	background: rgba(25, 8, 25,0.00);
	color: #ffeebe;
}

#workspaces,
#clock.1
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#network,
#tray {
    background: rgba(25, 8, 25,0.00);
}

#workspaces button {
    padding: 0 2px;
    color: #4c4739;
}
#workspaces button.focused {
    color: #ffeebe;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: rgba(25, 8, 13,0.00);
    border: #1a1a1a;
    padding: 0 3px;
}

#pulseaudio {
    background-color: #FF9566;
    color: #000000;
    font-size: 10px;
}
#network{
    background-color: #ff6ea3;
    color: #000000;
    font-size: 10px;
}
#backlight {
    background-color: #85c2ff;
    color: #000000;
    font-size: 10px;
}
#battery {
    background-color: #6aeb97;
    color: #000000;
    font-size: 10px;
}

#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery {
    padding: 0 20px;
}

#custom-arrowblue,
#custom-arroworange, 
#custom-arrowcyan,
#custom-arrowmagenta {
    font-size: 13px;
    font-family: "Fira Code";
}
#custom-arrowcyan {
    color: #6aeb97;
    background-color: #ff6ea3;
}
#custom-arrowblue {
    color: #85c2ff;
    background-color: #FF9566;
}
#custom-arroworange {
    color: #FF9566;
    background: rgba(25, 8, 25,0.00);
}
#custom-arrowmagenta {
    color: #ff6ea3;
    background-color: #85c2ff;
}
#custom-arrowblack {
    color: #190819;
    background-color: #6aeb97;
}



#clock,
#clock#1,
#clock#2,
#clock#3 {
    color: #ffeebe;
    font-size: 11px;
}
